/*Website Template by freewebsitetemplates.com*/
@font-face {
	font-family: 'Arimo-Bold';
	src: url('/theme/fonts/Arimo-Bold/Arimo-Bold.eot');
	src: url('/theme/fonts/Arimo-Bold/Arimo-Bold.woff') format('woff'), url('/theme/fonts/Arimo-Bold/Arimo-Bold.ttf') format('truetype'), url('/theme/fonts/Arimo-Bold/Arimo-Bold.svg') format('svg');
}
@font-face {
	font-family: 'ChangaOne';
	src: url('/theme/fonts/ChangaOne/ChangaOne-Regular.eot');
	src: url('/theme/fonts/ChangaOne/ChangaOne-Regular.woff') format('woff'), url('/theme/fonts/ChangaOne/ChangaOne-Regular.ttf') format('truetype'), url('/theme/fonts/ChangaOne/ChangaOne-Regular.svg') format('svg');
}
@font-face {
	font-family: 'Comfortaa-Regular';
	src: url('/theme/fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('/theme/fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'), url('/theme/fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'), url('/theme/fonts/Comfortaa/Comfortaa-Regular.svg') format('svg');
}
body {
	background-color: white;
	line-height: 1;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#header {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#header .section {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#logo {
	background: url(/theme/images/portada2.jpg) no-repeat top left;
	width : 100%;
	float: left;
	margin: 0;
	padding: 60px 0 0 10px;
	display: block;
}
#logo a {
	background: url(/theme/images/bg-logo.png) repeat-x top left;
	color: #fff;
	display: block;
	font-family: 'Arimo-Bold';
	font-size: 60px;
	font-weight: normal;
	height: 130px;
	line-height: 130px;
	margin: 0;
	padding: 0;
	text-align:center;
	text-decoration: none;
	text-transform: uppercase;
	width: 270px;
}
#header .section ul {
	display: inline-block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 14px 0 0;
}
#header .section ul li {
	background: url(/theme/images/bg-nav-right.gif) repeat top right;
	display: inline-block;
	float: center;
	list-style: none;
	margin: 0 20px;
	padding: 0;
}
#header .section ul li a {
	background: url(/theme/images/bg-nav-left.gif) no-repeat top left;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	height: 30px;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#header .section ul li a:hover {
	color: #ccc;
}
#header .section ul li.selected {
	background: url(/theme/images/bg-nav-right-selected.gif) no-repeat top right;
}
#header .section ul li.selected a {
	background: url(/theme/images/bg-nav-left-selected.gif) no-repeat top left;
}



#body {
	float: left;
	margin: 0 auto;
	width: 100%;
}
#body > ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body > ul li {
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 20%;
}

#aSeleccion{
	
	width : 100%;
	display: block;
	margin: 0;
	padding: 5px 5px 29px;
}
#aSeleccion:hover {
	opacity: 0.9;
}
#aSeleccion img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}
#body > ul li b {
	color: #000;
	display: block;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 10px 0 5px;
	text-transform: capitalize;
}
#body > ul li p {
	color: #464646;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body > ul li p a {
	color: #464646;
	text-decoration: underline;
}
#body > ul li p a:hover {
	color: #252525;
}
#body > div {
	margin: 0;
	overflow: hidden;
	padding: 50px 0 0;
}
#body > .more {
	color: #464646;
	display: block;
	font-size: 13px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
	width: 80px;
}
#body > .more:hover {
	color: #4a8b92;
}
#body h2 {
	background: url(/theme/images/bg-featured.png) repeat-x;
	color: #fff;
	font-family: 'Comfortaa-Regular';
	font-size: 20px;
	font-weight: normal;
	height: 47px;
	letter-spacing: 0.1em;
	left: 15px;
	line-height: 47px;
	margin: 0;
	padding: 0 25px;
	position: absolute;
	text-transform: capitalize;
	top: -14px;
}
#body h3 {
	color: #2f394e;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 25px 10px 40px;
	text-transform: capitalize;
}
#body > b {
	color: #2f394e;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0 10px;
	text-transform: capitalize;
}
#body > p {
	color: #464646;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding: 30px 10px;
}
#body > p a {
	color: #464646;
	text-decoration: underline;
}
#body > p a:hover {
	color: #252525;
}
#body div div {
	float: left;
	margin: 0 10px;
	padding: 0;
}
#body div .section {
	width: 460px;
}
#body div .section div {
	background: #519194;
	border: 5px solid whit;
	border-radius: 4px;
	float: none;
	margin: 0;
	padding: 0 15px;
	position: relative;
}
#body .blog {
	padding: 0;
}
#body .content {
	float: left;
	margin: 0 35px 0 10px;
	padding: 0;
	width: 80%;
}
#body .content h3 {
	padding-bottom: 25px;
	padding-left: 0;
}
#body .content p {
	color: #464646;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
}
#body .content p a {
	color: #464646;
	text-decoration: underline;
}
#body .content p a:hover {
	color: #252525;
}
#body .sidebar {
	float: left;
	margin: 0 10px 82px 0;
	padding: 0;
	width: 15%;
/*   border: 3px solid  #5FB3BD; */

}
#body .sidebar h3 {
	color: #2f394e;
	font-family: 'Comfortaa-Regular';
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.1em;
	margin: 0;
	padding: 5px 5px;
	text-align: center;
	text-transform: capitalize;
}
#body .sidebar ul {
	margin: 0;
	padding: 5px 5px 5px;
}

#body .sidebar ul > li {
	background: url(/theme/images/bg-nav-right.gif) repeat top right;
	text-align: center;

}

#DIVcategorias {
	background: url(/theme/images/bg-nav-right.gif) repeat top right;
	display: inline-block;
	float: center;
	list-style: none;
	margin: 0 10px;
	padding: 0px 0px;
}
#acategoria {
	color: #fff;
	display: inline-block;
	font-size: 100%;
	height: 30px;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	padding: 0px 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#acategoria {
	color: ;
}

